.section-one {
  height: 525px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/sectionOneBg.png") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.section_one_box {
display: flex;
gap: 20px;

}

span {
  background-color: white;
  height: 124px;
  width: 2px;
}

.content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subtitle {
  font-size: 1.1rem;
  opacity: 0.9;
  max-width: 300px;
}

.date {
  font-size: 1.1rem;
  opacity: 0.8;
  margin-top: -5px;
  color: white;
  max-width: 150px;
}

.search {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 0px;
}

.search input {
  width: 450px;
  padding:  12px 14px;
  border-radius: 12px 0 0 12px;
  border: none;
  outline: none;
  background-color: white;
}

.search button {
  padding: 12px 16px;
  border-radius: 0 12px 12px 0 ;
  border: none;
  cursor: pointer;
  background: #FFB36C;
  color: black;
}

@media (max-width: 768px) {
  .section-one{
  }
}

@media (max-width: 480px) {
  .search{
    max-width: 200px;
    align-self: center;

  }

  .section_one_box{
    align-self: center;
  }
}